{{ job_name }}:
  stage: {{ stage }}
  tags: {{ tags | tojson }}
  script:
    - "echo 'Executing: make -f {{ makefile_path }} {{ make_target }} {{ make_args }}'"
{%- if target_vars %}
{%- for var_name, var_value in target_vars.items() %}
    - "export {{ var_name }}={{ var_value }}"
{%- endfor %}
{%- endif %}
{%- if target_options %}
    - "echo 'Options: {{ target_options }}'"
{%- endif %}
    - "make -f {{ makefile_path }} {{ make_target }} {{ make_args }}"
{%- if rules %}
  rules:
{%- for rule in rules %}
    - {{ rule | tojson }}
{%- endfor %}
{%- endif %}
{%- if job_variables %}
  variables:
{%- for var_name, var_value in job_variables.items() %}
    {{ var_name }}: {{ var_value | tojson }}
{%- endfor %}
{%- endif %}