{{ job_name }}:
  stage: {{ stage }}
  variables:
    UV_INDEX_URL: "https://artifactory-eda.ysemi.yadro.com/artifactory/api/pypi/soc-devops-pypi/simple"
    UV_NATIVE_TLS: "true"
    UV_PYTHON: "python3.11"
    GIT_STRATEGY: clone
    GIT_SUBMODULE_STRATEGY: none
  tags: [{% for tag in tags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  script:
    - module load AGE
    - "echo {{ makefile_path }} {{ makefile_path | dirname }}"
    - "echo Executing: make -f {{ makefile_path | basename}} {{ make_target }}{% if variables_cli %} VARIABLES='{{ variables_cli }}'{% endif %}{% if options_cli %} OPTIONS='{{ options_cli }}'{% endif %} TARGET='{{ target_name }}'"
    - "cd {{ makefile_path | dirname }}"
    - "make -f {{ makefile_path | basename }} {{ make_target }}{% if variables_cli %} VARIABLES='{{ variables_cli }}'{% endif %}{% if options_cli %} OPTIONS='{{ options_cli }}'{% endif %} TARGET='{{ target_name }}'"
{% if rules %}
  rules:
{% for rule in rules %}
    {%- if rule.if is defined %}
    - if: "{{ rule.if }}"
    {%- elif rule.when is defined %}
    - when: "{{ rule.when }}"
    {%- endif %}
    artifacts:
    paths:
        - {{submodule_path}}/bsv2/**/*.rpt
        - {{submodule_path}}/bsv2/**/*_invalid.xdc
        - {{submodule_path}}/bsv2/**/vivado.tcl
        - {{submodule_path}}/bsv2/**/vivado.log
        - {{submodule_path}}/bsv2/bs.log  
{%- endfor %}
{%- endif %}